{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>Home</title>
</head>
<body>
  <div class="container-fluid">
    <h2><strong class="text-danger"><marquee>Welcome...! Thanks for Connecting with Us</marquee></strong></h2><hr>
   
    <form action="{% url 'logout' %}" method="post">
         {% csrf_token %}
       <button class="btn btn-primary" type="submit" value="Logout">LOGOUT</button>
    </form>

    <div class="owl-carousel" id="slider1">
      {% for i in response %}         
    
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/81XH0e8fefL._AC_UY879_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/61IBBVJvSDL._AC_SY879_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/71kWymZ+c+L._AC_SX679_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="fs-5">{{i.price}}</span>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'home' %}" class="btn btn-warning text-light">Add to Cart</a>
              <a href="{% url 'home' %}" class="btn btn-danger text-light mx-3">Buy Now...!</a>
            </div>
          </div>
        </div> 
      </div>
      {% endfor %}
    </div>
 </div>
   <script src="{% static 'users/js/jquery.js' %}"></script>
   <script src="{% static 'users/js/popper.js' %}"></script>
   <script src="{% static 'users/js/all.min.js' %}"></script>
   <script src="{% static 'users/js/bootstrap.js' %}"></script>
</body>
</html>