{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>Home</title>
</head>
<body>
   
    <!-- 1st Product Slider -->
   <div class="container">
      <h2 class="text-danger"><marquee>Welcome...! Thanks for Connecting with Us</marquee></h2>
      <hr>
      <!-- Slider 1 -->
      <div class="owl-carousel" id="slider1">
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/1.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 1</span><br><span class="fs-5">Rs. 500</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/2.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 2</span><br><span class="fs-5">Rs. 300</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/3.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 3</span><br><span class="fs-5">Rs. 100</span></div></a>
       <hr>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/4.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 4</span><br><span class="fs-5">Rs. 700</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/5.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 5</span><br><span class="fs-5">Rs. 500</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/6.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 6</span><br><span class="fs-5">Rs. 400</span></div></a>
       <hr>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/7.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 7</span><br><span class="fs-5">Rs. 500</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/8.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 8</span><br><span class="fs-5">Rs. 300</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/9.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 9</span><br><span class="fs-5">Rs. 600</span></div></a>
       <hr>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/10.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 10</span><br><span class="fs-5">Rs. 900</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/11.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 11</span><br><span class="fs-5">Rs. 100</span></div></a>
       <a href="{% url 'home' %}" class="btn"><div class="item"><img src="{% static 'users/images/12.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 12</span><br><span class="fs-5">Rs. 200</span></div></a>
      </div>
   </div>
   <script src="{% static 'users/js/jquery.js' %}"></script>
   <script src="{% static 'users/js/popper.js' %}"></script>
   <script src="{% static 'users/js/all.min.js' %}"></script>
   <script src="{% static 'users/js/bootstrap.js' %}"></script>
</body>
</html>